{{>partials/header}}
{{>partials/nav}}
{{>partials/main}}

<section class="see-all">
    <div class="all">
        <table>
            <tr>
                <th>Name</th>
                <th>Supplier</th>
                <th>Stock</th>
                <th>Min Stock</th>
                <th>Price</th>
            </tr>  
            {{#products}}
            <tr>
                <td>{{ name }}</td>
                <td>{{ supplier }}</td>
                <td>{{ stock }}</td>
                <td>{{ minimumstock }}</td>
                <td>R${{ price }}</td>
            </tr> 
            {{/products}}
        </table>
    </div>
    <div class="buttons">
        {{#show}}
        <button><a href="/products/view/previous">Voltar</a></button>
        {{/show}}
        <button><a href="/products/view/next">Avançar</a></button>
    </div>
</section>

</div>
</div>
<script src="/js/script.js"></script>

{{>partials/footer}}