{{>partials/header}}
{{>partials/nav}}
{{>partials/main}}

<section class="see-all">
    <div class="all">
        <table>
            <tr>
                <th>Matrículas</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
                <th>Setor</th>
                <th>Salário</th>
            </tr>  
            <tr>
                <td>1</td>
                <td>Rafael</td>
                <td>21</td>
                <td>São Paulo</td>
                <td>RH</td>
                <td>R$1500,00</td>
            </tr> 
        </table>
    </div>
    <div class="buttons">
        <button>Voltar</button>
        <button>Avançar</button>
    </div>
</section>

</div>
</div>
<script src="/js/script.js"></script>

{{>partials/footer}}