{{>partials/header}}
{{>partials/nav}}
{{>partials/main}}

<section class="dashboard">
<div class="dash dash-general">
    <div class="name-dash">
        Geral
    </div>
    <ul>
        <li class="dash-type">
            Aniversariantes hoje
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Produtos sem estoque
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Mensagens
            <ul><li>0</li></ul>
        </li>
    </ul>
</div>
<div class="dash dash-employees">
    <div class="name-dash">
        Fúncionarios
    </div>
    <ul>
        <li class="dash-type">
            Total de fúncionarios
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Total de salario por mês
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Média salarial
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Total de setores
            <ul><li>0</li></ul>
        </li>
    </ul>
</div>
<div class="dash dash-products">
    <div class="name-dash">
        Produtos
    </div>
    <ul>
        <li class="dash-type">
            Total de produtos
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Valor total de produtos
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Fornecedores
            <ul><li>0</li></ul>
        </li>
        <li class="dash-type">
            Item mais caro
            <ul><li>0</li></ul>
        </li>
    </ul>
</div>
</section>

</div>
</div>
<script src="/js/script.js"></script>

{{>partials/footer}}