{{>partials/header}}
{{>partials/nav}}
{{>partials/main}}


<section class="add">
    <div class="add-container">
        <div class="add-title">
            Search Employees
        </div>
        <div class="add-form">
            <form method="POST" action="/employees/search/save">
                <label for="choice">Choice the filter<label><br>
                <select name="choice"><br>
                    <option>Name</option>
                    <option>Age</option>
                    <option>City</option>
                    <option>Sector</option>
                    <option>Salary</option>
                </select><br><br>
                <input type="text" placeholder="Enter with value" name="value" required>
                <br><br>
                <input class="btn-add" type="submit" value="Send">
            </form>
        </div>
    </div>
</section>



</div>
</div>
<script src="/js/script.js"></script>
{{>partials/footer}}