<nav>
        <div class="menu">
            <div class="profile">
                <div class="image">
                    <img src="/images/user.png" alt="">
                </div>
                <div class="name">
                    <span>Rafael Dória</span>
                </div>
            </div>
            <hr>
            <div class="links">
                <ul>
                    <li class="menu-select menu-select-dashboard active" data-nameMenu="dashboard"><a href="/">DASHBOARD</a></li>
                    <li class="menu-select menu-select-employess" href="/employees/view" data-nameMenu="funcionarios">
                        EMPLOYEES
                        <div class="options options-employes closed">
                            <ul>
                                <li class="sub-menu-select"><a href="/employees/view">View</a></li>
                                <li class="sub-menu-select"><a href="/employees/add">Add</a></li>
                                <li class="sub-menu-select"><a href="/employees/search">Search</a></li>
                                <li class="sub-menu-select"><a href="/employees/modify">Modify</a></li>
                                <li class="sub-menu-select"><a href="/employees/remove">Remove</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-select menu-select-products" data-nameMenu="produtos">
                        PRODUCTS
                        <div class="options options-products closed">
                            <ul>
                                <li class="sub-menu-select"><a href="/products/view">View</a></li>
                                <li class="sub-menu-select"><a href="/products/add">Add</a></li>
                                <li class="sub-menu-select"><a href="/products/search">Search</a></li>
                                <li class="sub-menu-select"><a href="/products/modify">Modify</a></li>
                                <li class="sub-menu-select"><a href="/products/remove">Remove</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>